<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script type="text/javascript">
  if (attachmentsList) {
    Sortable.create(attachmentsList, {
      ghostClass: "app-c-summary-list__row--ghost",
      chosenClass: "app-c-summary-list__row--chosen",
      dragClass: "app-c-summary-list__row--drag"
    })

    moveDownButtons = attachmentsList.querySelectorAll('.js-down')
    moveDownButtons.forEach((button, i) => {
      button.addEventListener("click", function (e) {
        e.preventDefault()
        item = button.closest('.govuk-summary-list__row')
        nextItem = item.closest('.govuk-summary-list__row').nextElementSibling
        if (item && nextItem) {
          item.parentNode.insertBefore(item, nextItem.nextElementSibling)
        }
      })
    });

    moveUpButtons = attachmentsList.querySelectorAll('.js-up')
    moveUpButtons.forEach((button, i) => {
      button.addEventListener("click", function (e) {
        e.preventDefault()
        item = button.closest('.govuk-summary-list__row')
        previousItem = item.closest('.govuk-summary-list__row').previousElementSibling
        if (item && previousItem) {
          item.parentNode.insertBefore(item, previousItem)
        }
      })
    });
  }

</script>

<script type="text/javascript">
  var appliesToInset = document.querySelector('#applies-to-inset')
  if (appliesToInset) {
    var insetBody = appliesToInset.querySelector('.app-c-inset-prompt__body')
    var allNations = document.querySelectorAll('input[type=checkbox]')
    allNations.forEach((nation) => addEventListener('click', updateAppliesToInset))
    updateAppliesToInset()
  }

  function updateAppliesToInset() {
    var appliesToNations = []
    var doesntApplyToNations = []
    var checkedNations = document.querySelectorAll('input[type=checkbox]')

    checkedNations.forEach((nation) => {
      if (nation.checked) {
        appliesToNations.push(nation.value)
      } else {
        doesntApplyToNations.push(nation.value)
      }
    })

    var insetBodyText = "Applies to: " + appliesToNations.join(', ')
    if (doesntApplyToNations.length) {
      insetBodyText += " (see publication for " + doesntApplyToNations.join(', ') + ")"
    }
    insetBody.innerHTML = insetBodyText
  }

</script>

<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/toggle.js"></script>
<script type="text/javascript">
  var $element = $('.govuk-js-header-toggle');
  var toggle = new GOVUK.Modules.Toggle();
  toggle.start($element);
</script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
