<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script type="text/javascript">

  Sortable.prototype.moveItem = function (index, toIndex) {
    var itemEl = this.el.children[index]
        toEl = this.el.children[toIndex]

    this.el.insertBefore(itemEl, toEl && (+toIndex ? toEl.nextElementSibling : toEl))
  }

  var sortableAttachments = Sortable.create(attachmentsList, {
    ghostClass: "app-c-attachment-meta--ghost",
    chosenClass: "app-c-attachment-meta--chosen",
    dragClass: "app-c-attachment-meta--drag"
  })

  attachments = attachmentsList.querySelectorAll('.app-c-attachment-meta')

  attachments.forEach((item, i) => {
    item.querySelector('.js-up').addEventListener("click", function () { sortableAttachments.moveItem(i, i-1) })
    item.querySelector('.js-down').addEventListener("click", function () { sortableAttachments.moveItem(i, i+1) })
  });
</script>

<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/toggle.js"></script>
<script type="text/javascript">
  var $element = $('.govuk-js-header-toggle');
  var toggle = new GOVUK.Modules.Toggle();
  toggle.start($element);
</script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
