{% extends "layout.html" %}

{% block pageTitle %}
  Metadata component – GOV.UK Content Publisher prototype
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: "../"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span>
        Metadata
      </h1>

      <p class="govuk-body-l">To display relevant metadata about a document.</p>

      <p class="govuk-body"><a class="govuk-link" href="https://content-publisher.integration.publishing.service.gov.uk/component-guide/metadata">GOV.UK component guide</a></p>

      <h2 class="govuk-heading-l">Examples</h2>

      <h3 class="govuk-heading-m">Example 1</h3>

      <p class="govuk-body">Default</p>

      {{ appMetadata({
        items: [
          {
            title: {
              text: "Status"
            },
            description: {
              text: "Saved as draft"
            }
          },
          {
            title: {
              text: "Last updated"
            },
            description: {
              text: "12:58pm on 17 August 2018"
            }
          },
          {
            title: {
              text: "Created"
            },
            description: {
              text: "11:02pm on 10 August 2018"
            }
          },
          {
            title: {
              text: "First published on GOV.UK"
            },
            description: {
              text: "12:00pm on 10 August 2018"
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 2</h3>

      <p class="govuk-body">Inline</p>

      {{ appMetadata({
        items: [
          {
            title: {
              text: "Alt text"
            },
            description: {
              text: "A nice tree"
            }
          },
          {
            title: {
              text: "Markdown code"
            },
            description: {
              text: "[Image: file.jpg]"
            }
          }
        ],
        inline: true
      }) }}

    </div>
</div>

{% endblock %}
