<div class="app-c-inset-prompt {{- ' app-c-inset-prompt--error' if params.error }} {{- ' ' + params.classes if params.classes }}" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  {%- if params.title.html | length or params.title.text | length %}
    <h{{ params.title.headingLevel | default(3) }} class="app-c-inset-prompt__title {{- ' ' + params.title.classes if params.classes }}" {%- for attribute, value in params.title.attributes %} {{attribute}}="{{value}}"{% endfor %}>
      {{- params.title.html | safe if params.title.html else params.title.text -}}
    </h{{ params.title.headingLevel | default(3) }}>
  {% endif -%}
  <div class="app-c-inset-prompt__body {{- ' ' + params.description.classes if params.description.classes }}" {%- for attribute, value in params.description.attributes %} {{attribute}}="{{value}}"{% endfor %}>
    {%- if params.description %}
      {{- params.description.html | safe if params.description.html else params.description.text -}}
    {% else %}
      {%- if params.items %}
        <ul class="govuk-list app-c-inset-prompt__list">
          {%- for item in params.items %}
            <li>
              {% if item.href %}
                <a class="govuk-link govuk-link--no-visited-state {{- ' ' + item.classes if item.classes }}" href="{{ item.href }}" {%- for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                  {{- item.html | safe if item.html else item.text -}}
                </a>
              {% else %}
                {{- item.html | safe if item.html else item.text -}}
              {% endif %}
            </li>
          {% endfor -%}
        </ul>
      {% endif -%}
    {% endif -%}
  </div>
</div>
