# ignore tracking usage data config - we want a different one for each user
usage-data-config.json

# ignore extension SCSS because it's dynamically generated
lib/extensions/_extensions.scss

.DS_Store
.env
.port.tmp
.tmp
.tmuxp.*
.vscode/
node_modules
public
