<section class="app-c-attachment {{- ' ' + params.classes if params.classes }}" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="app-c-attachment__thumbnail">
    <a class="govuk-link" target="{{ params.target if params.target else '_self' }}" tabindex="-1" aria-hidden="true" href="{{ params.href }}">
      {%- if params.metadata.thumbnail == 'document' %}
        <svg class="app-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
          <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"/>
        </svg>
      {% elif params.metadata.thumbnail == 'spreadsheet' %}
        <svg class="app-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
          <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"/>
          <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"/>
          <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"/>
        </svg>
      {% else %}
        <svg class="app-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 84 120" width="84" height="120" aria-hidden="true">
          <path d="M74.85 5v106H5" fill="none" stroke-miterlimit="10" stroke-width="2"/>
          <path d="M79.85 10v106H10" fill="none" stroke-miterlimit="10" stroke-width="2"/>
        </svg>
      {% endif -%}
    </a>
  </div>
  <div class="app-c-attachment__details">
    <h{{ params.headingLevel | default(2) }} class="app-c-attachment__title {{- ' ' + params.heading.classes if params.heading.classes }}" {%- for attribute, value in params.heading.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
      {%- if params.href | length %}<a class="govuk-link govuk-link--no-visited-state app-c-attachment__link" target="{{ params.target if params.target else '_self' }}" href="{{ params.href }}">{% endif -%}
        {{- params.heading.html | safe if params.heading.html else params.heading.text -}}
      {%- if params.href | length %}</a>{% endif -%}
    </h{{ params.headingLevel | default(2) }}>
    {%- if params.metadata %}
      <p class="app-c-attachment__metadata">
        {%- if params.metadata.contentType -%}
          <span class="app-c-attachment__attribute"><abbr title="{{ params.metadata.contentType | parseContentType('title') }}" class="app-c-attachment__abbr">{{ params.metadata.contentType | parseContentType }}</abbr></span>
        {%- endif -%}
        {%- if params.metadata.fileSize %},
          <span class="app-c-attachment__attribute">{{ params.metadata.fileSize | fileSizeFormat }}</span>
        {%- endif -%}
        {%- if params.metadata.pageCount %},
          <span class="app-c-attachment__attribute">{{ params.metadata.pageCount }} {{ 'pages' if params.metadata.pageCount > 1 else 'page' }}</span>
        {%- endif -%}
      </p>
      {%- if params.metadata.isOpenDocument %}
        <p class="app-c-attachment__metadata">
          This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation">OpenDocument</a> format
        </p>
      {% endif -%}
      {%- if params.metadata.alternativeFormatContactEmail %}
        <p class="app-c-attachment__metadata">This file may not be suitable for users of assistive technology.</p>
        <details class="app-details govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Request a different format
            </span>
          </summary>
          <div class="govuk-details__text">
            If you use assistive technology and need a version of this document in a more accessible format, please email <a href="mailto:{{ params.metadata.alternativeFormatContactEmail }}">{{ params.metadata.alternativeFormatContactEmail }}</a>. Please tell us what format you need. It will help us if you say what assistive technology you use.
          </div>
        </details>
      {% endif -%}
    {% endif -%}
    {{- caller() if caller -}}
  </div>
</section>
