<p class="govuk-body">All files must be accessible. Read <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/accessible-pdfs">full guidance on accessible attachments</a>.</p>
<p class="govuk-body">Files must be uploaded in an <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/content-design/planning-content#open-formats">open standards file format</a>. For example, .odt not .docx.</p>

<form action="{{ links.save }}" accept-charset="UTF-8" method="post">
  <!-- enctype="multipart/form-data" -->
  <input type="hidden" name="document[attachment][type]" value="file">

  {{ govukFileUpload({
    id: "attachment-file",
    name: "document[attachment][file]",
    label: {
      text: "Choose a file",
      classes: "govuk-!-font-weight-bold"
    }
  }) }}

  {{ govukInput({
    id: "attachment-title",
    name: "document[attachment][title]",
    label: {
      text: "Attachment title",
      classes: "govuk-!-font-weight-bold"
    },
    hint: {
      text: "Use the official title of the document"
    },
    value: attachment.title if attachment.title,
    attributes: {
      "autocomplete": "off",
      "autocapitalize": "off"
    }
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

</form>

<p class="govuk-body">
  <a class="govuk-link" href="{{ links.back }}">Cancel</a>
</p>
