<!-- <form action="{{ actions.save }}" accept-charset="UTF-8" method="post"> -->

  {%- set command_paper_html %}

    {{ govukInput({
      id: "attachment-cpn",
      name: "document[attachment][cpn]",
      label: {
        text: "Command paper number",
        classes: "govuk-!-font-weight-bold"
      },
      hint: {
        html: 'Include the command paper number or tick ‘unnumbered’. This document will show in the <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/official-documents" target="_blank">official document finder</a>.'
      },
      value: attachment.cpn if attachment.cpn,
      classes: "govuk-!-width-one-half",
      attributes: {
        "autocomplete": "off",
        "autocapitalize": "off"
      }
    }) }}

    <p class="govuk-body">Or</p>

    {{ govukCheckboxes({
      idPrefix: "attachment-unnumbered",
      name: "document[attachment][unnumbered]",
      items: [
        {
          value: "yes",
          text: "Unnumbered",
          checked: true if attachment.unnumbered == "yes"
        }
      ]
    }) }}

  {% endset -%}

  {%- set house_of_commons_paper_html %}

    {{ govukInput({
      id: "attachment-hcpn",
      name: "document[attachment][hcpn]",
      label: {
        text: "House of Commons paper number",
        classes: "govuk-!-font-weight-bold"
      },
      hint: {
        html: 'Include the House of Commons number or tick ‘unnumbered act paper’. This document will show in the <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/official-documents" target="_blank">official document finder</a>.'
      },
      value: attachment.hcpn if attachment.hcpn,
      classes: "govuk-!-width-one-half",
      attributes: {
        "autocomplete": "off",
        "autocapitalize": "off"
      }
    }) }}

    <p class="govuk-body">Or</p>

    {{ govukCheckboxes({
      idPrefix: "attachment-unnumbered-act",
      name: "document[attachment][unnumbered_act]",
      items: [
        {
          value: "yes",
          text: "Unnumbered act paper",
          checked: true if attachment.unnumbered_act == "yes"
        }
      ]
    }) }}

    {{ govukSelect({
      id: "attachment-parliamentary-session",
      name: "document[attachment][parliamentary_session]",
      label: {
        text: "Parliamentary session",
        classes: "govuk-!-font-weight-bold"
      },
      hint: {
        text: "For official publications, select the parliamentary session when the publication was laid in Parliament."
      },
      classes: "govuk-!-width-one-half",
      items: [
        {
          value: "",
          text: "",
          selected: true if attachment.parliamentary_session == ""
        },
        {
          value: "2020-21",
          text: "2020-21",
          selected: true if attachment.parliamentary_session == "2020-21"
        },
        {
          value: "2019-20",
          text: "2019-20",
          selected: true if attachment.parliamentary_session == "2019-20"
        },
        {
          value: "2017-19",
          text: "2017-19",
          selected: true if attachment.parliamentary_session == "2017-19"
        },
        {
          value: "2016-17",
          text: "2016-17",
          selected: true if attachment.parliamentary_session == "2016-17"
        },
        {
          value: "2015-16",
          text: "2015-16",
          selected: true if attachment.parliamentary_session == "2015-16"
        },
        {
          value: "2014-15",
          text: "2014-15",
          selected: true if attachment.parliamentary_session == "2014-15"
        },
        {
          value: "2013-17",
          text: "2013-17",
          selected: true if attachment.parliamentary_session == "2013-14"
        },
        {
          value: "2012-13",
          text: "2012-13",
          selected: true if attachment.parliamentary_session == "2012-13"
        },
        {
          value: "2010-12",
          text: "2010-12",
          selected: true if attachment.parliamentary_session == "2010-12"
        },
        {
          value: "2009-10",
          text: "2009-10",
          selected: true if attachment.parliamentary_session == "2009-10"
        },
        {
          value: "2008-09",
          text: "2008-09",
          selected: true if attachment.parliamentary_session == "2008-09"
        },
        {
          value: "2007-08",
          text: "2007-08",
          selected: true if attachment.parliamentary_session == "2007-08"
        },
        {
          value: "2006-07",
          text: "2006-07",
          selected: true if attachment.parliamentary_session == "2006-07"
        },
        {
          value: "2005-06",
          text: "2005-06",
          selected: true if attachment.parliamentary_session == "2005-06"
        },
        {
          value: "2004-05",
          text: "2004-05",
          selected: true if attachment.parliamentary_session == "2004-05"
        },
        {
          value: "2003-04",
          text: "2003-04",
          selected: true if attachment.parliamentary_session == "2003-04"
        },
        {
          value: "2002-03",
          text: "2002-03",
          selected: true if attachment.parliamentary_session == "2002-03"
        },
        {
          value: "2001-02",
          text: "2001-02",
          selected: true if attachment.parliamentary_session == "2001-02"
        },
        {
          value: "2000-01",
          text: "2000-01",
          selected: true if attachment.parliamentary_session == "2000-01"
        },
        {
          value: "1999-2000",
          text: "1999-2000",
          selected: true if attachment.parliamentary_session == "1999-2000"
        }
      ]
    }) }}

  {% endset -%}

  {{ govukRadios({
    idPrefix: "official-document",
    name: "document[attachment][official_document]",
    fieldset: {
      legend: {
        text: "Is this an official document?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      html: '‘Official documents’ have been laid in Parliament. Check if your document contains ‘presented to Parliament’.'
    },
    items: [
      {
        value: "yes_command_paper",
        text: "Yes, this is a command paper",
        conditional: {
          html: command_paper_html
        },
        checked: true if attachment.official_document == "yes_command_paper"
      },
      {
        value: "yes_house_of_commons_paper",
        text: "Yes, this is a House of Commons paper",
        conditional: {
          html: house_of_commons_paper_html
        },
        checked: true if attachment.official_document == "yes_house_of_commons_paper"
      },
      {
        value: "no",
        text: "No, this document has not been laid in Parliament",
        checked: true if attachment.official_document == "no"
      }
    ]
  }) }}

  {{ govukInput({
    id: "attachment-isbn",
    name: "document[attachment][isbn]",
    label: {
      text: "ISBN",
      classes: "govuk-!-font-weight-bold"
    },
    hint: {
      text: "Add the International Standard Book Number (ISBN) if there is one."
    },
    value: attachment.isbn if attachment.isbn,
    classes: "govuk-!-width-one-half",
    attributes: {
      "autocomplete": "off",
      "autocapitalize": "off"
    }
  }) }}

  <!--
    TODO: validate ISBN
    https://en.wikipedia.org/wiki/International_Standard_Book_Number
    https://www.oreilly.com/library/view/regular-expressions-cookbook/9781449327453/ch04s13.html

    ^(?=(?:\D*\d){10}(?:(?:\D*\d){3})?$)[\d-]+$
  -->

  {{ govukInput({
    id: "attachment-urn",
    name: "document[attachment][urn]",
    label: {
      text: "Unique reference",
      classes: "govuk-!-font-weight-bold"
    },
    hint: {
      text: "Add your organisation’s own reference if it has one."
    },
    value: attachment.urn if attachment.urn,
    classes: "govuk-!-width-one-half",
    attributes: {
      "autocomplete": "off",
      "autocapitalize": "off"
    }
  }) }}

  {#{ govukButton({
    text: "Save and finish"
  }) }#}

<!-- </form>

<p class="govuk-body">
  <a class="govuk-link" href="{{ actions.back }}">Cancel</a>
</p> -->
