<p class="govuk-body">All files must be accessible. Read <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/accessible-pdfs">full guidance on accessible attachment</a>.</p>
<p class="govuk-body">Files must be uploaded in an <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/content-design/planning-content#open-formats">open standards file format</a>. For example, .odt not .docx.</p>

<form action="{{ links.save }}" accept-charset="UTF-8" method="post">
  <!-- enctype="multipart/form-data" -->
  <input type="hidden" name="document[attachment][type]" value="file">

  {{ govukFileUpload({
    id: "attachment-file",
    name: "document[attachment][file]",
    label: {
      text: "Choose a file",
      classes: "govuk-!-font-weight-bold"
    }
  }) }}

  {{ govukInput({
    id: "attachment-title",
    name: "document[attachment][title]",
    label: {
      text: "Attachment title",
      classes: "govuk-!-font-weight-bold"
    },
    hint: {
      text: "Use the full title of the document."
    },
    value: attachment.title if attachment.title,
    attributes: {
      "autocomplete": "off",
      "autocapitalize": "off"
    }
  }) }}

  {{ govukSelect({
    id: "attachment-language",
    name: "document[attachment][language]",
    label: {
      text: "Attachment language",
      classes: "govuk-!-font-weight-bold"
    },
    hint: {
      text: "SOME USEFUL INFORMATION HERE"
    },
    classes: "govuk-!-width-one-half",
    items: [
      {
        "value": "",
        "text": "",
        "selected": true if attachment.language == ''
      },
      {
        "value": "en",
        "text": "English",
        "selected": true if attachment.language == 'en'
      },
      {
        "value": "ar",
        "text": "العربية (Arabic)",
        "selected": true if attachment.language == 'ar'
      },
      {
        "value": "az",
        "text": "Azərbaycanca (Azeri)",
        "selected": true if attachment.language == 'az'
      },
      {
        "value": "be",
        "text": "Беларуская (Belarusian)",
        "selected": true if attachment.language == 'be'
      },
      {
        "value": "bg",
        "text": "български (Bulgarian)",
        "selected": true if attachment.language == 'bg'
      },
      {
        "value": "bn",
        "text": "বাংলা (Bangla)",
        "selected": true if attachment.language == 'bn'
      },
      {
        "value": "cs",
        "text": "Česky (Czech)",
        "selected": true if attachment.language == 'cs'
      },
      {
        "value": "cy",
        "text": "Cymraeg (Welsh)",
        "selected": true if attachment.language == 'cy'
      },
      {
        "value": "da",
        "text": "Dansk (Danish)",
        "selected": true if attachment.language == 'da'
      },
      {
        "value": "de",
        "text": "Deutsch (German)",
        "selected": true if attachment.language == 'de'
      },
      {
        "value": "dr",
        "text": "دری (Dari)",
        "selected": true if attachment.language == 'dr'
      },
      {
        "value": "el",
        "text": "Ελληνικά (Greek)",
        "selected": true if attachment.language == 'el'
      },
      {
        "value": "es",
        "text": "Español (Spanish)",
        "selected": true if attachment.language == 'es'
      },
      {
        "value": "es-419",
        "text": "Español (Latin American Spanish)",
        "selected": true if attachment.language == 'es-419'
      },
      {
        "value": "et",
        "text": "Eesti (Estonian)",
        "selected": true if attachment.language == 'et'
      },
      {
        "value": "fa",
        "text": "فارسی (Persian)",
        "selected": true if attachment.language == 'fa'
      },
      {
        "value": "fi",
        "text": "Suomi (Finish)",
        "selected": true if attachment.language == 'fi'
      },
      {
        "value": "fr",
        "text": "Français (French)",
        "selected": true if attachment.language == 'fr'
      },
      {
        "value": "gd",
        "text": "Gaeilge (Irish)",
        "selected": true if attachment.language == 'gd'
      },
      {
        "value": "he",
        "text": "עברית (Hebrew)",
        "selected": true if attachment.language == 'he'
      },
      {
        "value": "hi",
        "text": "हिंदी (Hindi)",
        "selected": true if attachment.language == 'hi'
      },
      {
        "value": "hr",
        "text": "Hrvatski (Croatian)",
        "selected": true if attachment.language == 'hr'
      },
      {
        "value": "hu",
        "text": "Magyar (Hungarian)",
        "selected": true if attachment.language == 'hu'
      },
      {
        "value": "hy",
        "text": "Հայերեն (Armenian)",
        "selected": true if attachment.language == 'hy'
      },
      {
        "value": "id",
        "text": "Bahasa Indonesia (Indonesian)",
        "selected": true if attachment.language == 'id'
      },
      {
        "value": "is",
        "text": "Íslensk (Icelandic)",
        "selected": true if attachment.language == 'is'
      },
      {
        "value": "it",
        "text": "Italiano (Italian)",
        "selected": true if attachment.language == 'it'
      },
      {
        "value": "ja",
        "text": "日本語 (Japanese)",
        "selected": true if attachment.language == 'ja'
      },
      {
        "value": "ka",
        "text": "ქართული (Georgian)",
        "selected": true if attachment.language == 'ka'
      },
      {
        "value": "kk",
        "text": "Qazaq (Kazakh)",
        "selected": true if attachment.language == 'kk'
      },
      {
        "value": "ko",
        "text": "한국어 (Korean)",
        "selected": true if attachment.language == 'ko'
      },
      {
        "value": "lt",
        "text": "Lietuvių (Lithuanian)",
        "selected": true if attachment.language == 'lt'
      },
      {
        "value": "lv",
        "text": "Latviešu (Latvian)",
        "selected": true if attachment.language == 'lv'
      },
      {
        "value": "ms",
        "text": "Bahasa Melayu (Malay)",
        "selected": true if attachment.language == 'ms'
      },
      {
        "value": "mt",
        "text": "Malti (Maltese)",
        "selected": true if attachment.language == 'mt'
      },
      {
        "value": "nl",
        "text": "Nederlands (Dutch)",
        "selected": true if attachment.language == 'nl'
      },
      {
        "value": "no",
        "text": "Norsk (Norwegian)",
        "selected": true if attachment.language == 'no'
      },
      {
        "value": "pl",
        "text": "Polski (Polish)",
        "selected": true if attachment.language == 'pl'
      },
      {
        "value": "ps",
        "text": "پښتو (Pashto)",
        "selected": true if attachment.language == 'ps'
      },
      {
        "value": "pt",
        "text": "Português (Portuguese)",
        "selected": true if attachment.language == 'pt'
      },
      {
        "value": "ro",
        "text": "Română (Romanian)",
        "selected": true if attachment.language == 'ro'
      },
      {
        "value": "ru",
        "text": "Русский (Russian)",
        "selected": true if attachment.language == 'ru'
      },
      {
        "value": "si",
        "text": "සිංහල (Sinhala)",
        "selected": true if attachment.language == 'si'
      },
      {
        "value": "sk",
        "text": "Slovenčina (Slovak)",
        "selected": true if attachment.language == 'sk'
      },
      {
        "value": "sl",
        "text": "Slovenščina (Slovenian)",
        "selected": true if attachment.language == 'sl'
      },
      {
        "value": "so",
        "text": "Soomaaliga (Somali)",
        "selected": true if attachment.language == 'so'
      },
      {
        "value": "sq",
        "text": "Shqip (Albanian)",
        "selected": true if attachment.language == 'sq'
      },
      {
        "value": "sr",
        "text": "Srpski (Serbian)",
        "selected": true if attachment.language == 'sr'
      },
      {
        "value": "sv",
        "text": "Svensk (Swedish)",
        "selected": true if attachment.language == 'sv'
      },
      {
        "value": "sw",
        "text": "Kiswahili (Swahili)",
        "selected": true if attachment.language == 'sw'
      },
      {
        "value": "ta",
        "text": "தமிழ் (Tamil)",
        "selected": true if attachment.language == 'ta'
      },
      {
        "value": "th",
        "text": "ไทย (Thai)",
        "selected": true if attachment.language == 'th'
      },
      {
        "value": "tk",
        "text": "Türkmençe (Turkmen)",
        "selected": true if attachment.language == 'tk'
      },
      {
        "value": "tr",
        "text": "Türkçe (Turkish)",
        "selected": true if attachment.language == 'tr'
      },
      {
        "value": "uk",
        "text": "Українська (Ukrainian)",
        "selected": true if attachment.language == 'uk'
      },
      {
        "value": "ur",
        "text": "اردو (Urdu)",
        "selected": true if attachment.language == 'ur'
      },
      {
        "value": "uz",
        "text": "O'zbekcha (Uzbeki)",
        "selected": true if attachment.language == 'uz'
      },
      {
        "value": "vi",
        "text": "Tiếng Việt (Vietnamese)",
        "selected": true if attachment.language == 'vi'
      },
      {
        "value": "zh",
        "text": "中文 (Chinese)",
        "selected": true if attachment.language == 'zh'
      },
      {
        "value": "zh-hk",
        "text": "中文 (Cantonese)",
        "selected": true if attachment.language == 'zh-hk'
      },
      {
        "value": "zh-tw",
        "text": "中文 (Traditional Chinese)",
        "selected": true if attachment.language == 'zh-tw'
      }
    ]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

</form>

<p class="govuk-body">
  <a class="govuk-link" href="{{ links.back }}">Cancel</a>
</p>
