<p class="govuk-body">Tell the story in the first lines with the most important information at the top. Use short words, short sentences, and short paragraphs. Use subheadings in longer content.</p>
<p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/guidance/content-design/content-types#news-story" target="_blank">Guidance on news stories</a></p>
<p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#writing-to-govuk-style" target="_blank">Writing for GOV.UK</a></p>
<p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/guidance/style-guide" target="_blank">The style guide</a></p>
<h3 class="govuk-heading-s">Formatting</h3>
<p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown" target="_blank">Full markdown guidance</a></p>
