<script type="text/javascript">
  // var validator = new GOVUKPublishingFrontend.FormValidator(document.forms[0]);
  // validator.addValidator('attachment-title', [{
  //   method: function(field) {
  //     return field.value.trim().length > 0;
  //   },
  //   message: 'Enter an external link title'
  // }]);
  // validator.addValidator('attachment-url', [{
  //   method: function(field) {
  //     var valid = true;
  //     var regex = /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/igm;
  //     valid = regex.test(field.value);
  //     return valid;
  //   },
  //   message: 'Enter a valid URL'
  // }]);
</script>
