{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "File"
      },
      value: {
        html: '<a class="govuk-link" href="#">' + (attachment.title | slugify) + '.pdf</a>' if attachment.title | length
      }
    },
    {
      key: {
        text: "Attachment title"
      },
      value: {
        text: attachment.title if attachment.title | length else "Untitled attachment"
      }
    },
    {
      key: {
        text: "ISBN"
      },
      value: {
        text: attachment.isbn
      }
    },
    {
      key: {
        text: "Unique reference"
      },
      value: {
        text: attachment.urn
      }
    },
    {
      key: {
        text: "Command paper number"
      },
      value: {
        text: "Unnumbered paper" if attachment.unnumbered else attachment.cpn
      }
    },
    {
      key: {
        text: "House of Commons paper number"
      },
      value: {
        text: "Unnumbered act" if attachment.unnumbered_act else attachment.hcpn
      }
    },
    {
      key: {
        text: "Parliamentary session"
      },
      value: {
        text: attachment.parliamentary_session
      }
    },
    {
      key: {
        text: "Order URL"
      },
      value: {
        html: '<a class="govuk-link" href="' + attachment.order_url + '" target="_blank">' + attachment.order_url + '</a>'
      }
    }
  ]
}) }}
