<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <dl class="govuk-summary-list">
      {%- for attachment in attachments %}
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <h2 class="govuk-heading-s">
            <a class="govuk-link govuk-link--no-visited-state" href="/documents/{{ document.content_id}}/attachments/{{ item.content_id }}/preview" title="Preview attachment" target="_blank">
            {{ attachment.title if attachment.title | length else "Untitled attachment" }}
            </a>
          </h2>

          {%- if attachment.references | length %}
            <p class="govuk-body-s">
              {% if attachment.references.isbn | length or attachment.references.urn | length or attachment.references.cpn | length or attachment.references.hcpn | length %}<abbr title="References" class="app-c-attachment__abbr">Ref:</abbr>{% endif %}
              {% if attachment.references.isbn | length %}
                <abbr title="International Standard Book Number" class="app-c-attachment__abbr">ISBN</abbr> {{ attachment.references.isbn }}
              {%- endif -%}
              {%- if attachment.references.urn | length %}
                {%- if attachment.references.isbn | length %},{% endif %}
                {{ attachment.references.urn }}
              {%- endif -%}
              {%- if attachment.references.cpn | length %}
                {%- if attachment.references.isbn | length or attachment.references.urn | length %},{% endif %}
                {{ attachment.references.cpn }}
              {%- endif -%}
              {%- if attachment.references.hcpn | length %}
                {%- if attachment.references.isbn | length or attachment.references.urn | length or attachment.references.cpn | length %},{% endif %}
                {{ attachment.references.hcpn }} {{ attachment.references.parliamentary_session }}
              {% endif %}
            </p>
          {% endif -%}

          {%- if attachment.url | length %}
            <p class="govuk-body-s">{{ attachment.url }}</p>
          {% else %}
            <p class="govuk-body-s">
              {%- if attachment.metadata.abbreviation -%}
                <abbr title="{{ attachment.metadata.name }}" class="app-c-attachment__abbr">{{ attachment.metadata.abbreviation }}</abbr>
              {%- else -%}
                {{ attachment.metadata.name }}
              {%- endif -%}
              {{- (', ' + attachment.metadata.filesize | fileSizeFormat) if not attachment.url | length }} {{- ', 25 pages' if attachment.metadata.type == "document" -}}
            </p>
          {% endif -%}

          {{ appAttachmentActions({
            items: [
              {
                text: ('Change link' if attachment.url | length else ('Change file' if attachment.metadata.type in ['document','spreadsheet'] else 'Edit attachment')),
                href: "#"
              },
              {
                text: 'Edit details',
                href: "#"
              },
              {
                text: 'Download',
                href: "#",
                attributes: {
                  "download": "attachment.pdf"
                }
              } if attachment.metadata.type in ['document','spreadsheet'],
              {
                text: 'Delete ' + ('link' if attachment.url | length else 'attachment'),
                href: "#",
                classes: 'app-link--destructive'
              }
            ],
            classes: "govuk-!-margin-top-4 govuk-!-padding-bottom-0"
          }) }}

        </dd>
        <dd class="govuk-summary-list__actions app-c-summary-list__actions--modal">
          <a class="govuk-button app-c-button app-c-button--summary-action" role="button" href="#">Insert as link</a>
          <a class="govuk-button govuk-button--secondary app-c-button app-c-button--summary-action" role="button" href="#">Insert as attachment</a>
        </dd>
      </div>
      {% endfor -%}
    </dl>

  </div>
</div>
