{%- if attachments | length %}

  {%- set descriptionHtml %}
  {% set showPrompt = false %}
  {% set count = 0 %}
  <ul class="govuk-list app-c-inset-prompt__list">
    {%- for attachment in attachments %}
      {%- if not attachment.official_document %}
        {% set showPrompt = true %}
        {% set count = count + 1 %}
        <li><a class="govuk-link govuk-link--no-visited-state" href="/documents/{{ document.content_id }}/attachments/{{ attachment.content_id }}/update-details">{{ attachment.title }} is missing details</a></li>
      {% endif -%}
    {% endfor -%}
  </ul>
  {% endset -%}

  {{ appInsetPrompt({
    title: {
      text: "There is a problem with one of your attachments" if (count == 1) else "There is a problem with your attachments"
    },
    description: {
      html: descriptionHtml
    }
  }) if showPrompt }}

{% endif -%}
