{%- set descriptionHtml %}
<ul class="govuk-list app-c-inset-prompt__list">
  <li><a class="govuk-link govuk-link--no-visited-state" href="/documents/6cc2a1e9-1461-4975-9b04-8bb1d4ddad7b:en/edit#summary">Enter a summary</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/documents/6cc2a1e9-1461-4975-9b04-8bb1d4ddad7b:en/edit#body">Enter a body</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/documents/6cc2a1e9-1461-4975-9b04-8bb1d4ddad7b:en/topics">Add a topic</a></li>
</ul>
{% endset -%}

{% if data.document.political == true and data.document.government.current == false %} <!-- data.document.document_status == 'published' and  -->
  {% include "./_banner-political.html" %}
{% endif %}

{% if data.document.withdrawn_notice | length %}
  {% include "./_banner-withdrawn.html" %}
{% endif %}

{%- if data.document.document_status == 'submitted_for_review'%}
  {% include "./_banner-review.html" %}
{% endif -%}

{#{ appInsetPrompt({
  title: {
    text: 'To publish this document you need to'
  },
  description: {
    html: descriptionHtml
  }
}) }#}

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "Content",
        classes: "govuk-heading-m"
      },
      actions: {
        items: [
          {
            href: links.content,
            text: "Change",
            visuallyHiddenText: "content"
          }
        ]
      } if data.document.document_status != 'published'
    },
    {
      key: {
        text: "Title"
      },
      value: {
        text: data.document.title
      }
    },
    {
      key: {
        text: "Summary"
      },
      value: {
        text: data.document.description
      }
    },
    {
      key: {
        text: "Body"
      },
      value: {
        html: data.document.details.body | toMarkdown | truncate(200)
      }
    }
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% call appSummaryList({
  heading: {
    text: "Lead image"
  },
  actions: [
    {
      href: links.images,
      text: "Change",
      visuallyHiddenText: "Lead image",
      classes: "app-c-summary-list__edit-section-link"
    }
  ] if data.document.document_status != 'published'
}) %}

  {%- if data.document.details.image.url.length %}

    <div class="app-c-image-meta">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <img class="app-c-image-meta__image" src="/public/images/dummy-image.png" width="200" alt="{{ data.document.details.image.alt_text }}">
        </div>
        <div class="govuk-grid-column-two-thirds">
          {{ appMetadata({
            items: [
              {
                title: {
                  text: "Alt text:"
                },
                description: {
                  text: data.document.details.image.alt_text
                }
              },
              {
                title: {
                  text: "Caption:"
                },
                description: {
                  text: data.document.details.image.caption
                }
              },
              {
                title: {
                  text: "Credit:"
                },
                description: {
                  text: data.document.details.image.credit
                }
              }
            ]
          }) }}
        </div>
      </div>
    </div>

  {% else %}

    <p class="govuk-body">No image selected. The default image for your department will be used.</p>

  {% endif -%}

{% endcall -%}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% call appSummaryList({
  heading: {
    text: "Topics"
  },
  actions: [
    {
      href: links.topics,
      text: "Change",
      visuallyHiddenText: "topics",
      classes: "app-c-summary-list__edit-section-link"
    }
  ] if data.document.document_status != 'published'
}) %}

  <p class="govuk-body">No topics specified for this document.</p>

{% endcall -%}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{%- set organisationsHtml %}
<ul class="govuk-list">
{% for organisation in data.document.links.organisations %}
  <li>{{ organisation.title }}</li>
{% endfor %}
</ul>
{% endset -%}

{%- set primaryOrganisationHtml %}
<ul class="govuk-list">
{% for organisation in data.document.links.primary_publishing_organisation %}
  <li>{{ organisation.title }}</li>
{% endfor %}
</ul>
{% endset -%}

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "Tags",
        classes: "govuk-heading-m"
      },
      actions: {
        items: [
          {
            href: links.tags,
            text: "Change",
            visuallyHiddenText: "tags"
          }
        ]
      } if data.document.document_status != 'published'
    },
    {
      key: {
        text: "Primary organisation"
      },
      value: {
        html: primaryOrganisationHtml
      }
    },
    {
      key: {
        text: "Organisations"
      },
      value: {
        html: organisationsHtml
      }
    },
    {
      key: {
        text: "Ministers and government appointments"
      },
      value: {
        html: "None"
      }
    },
    {
      key: {
        text: "Topical events"
      },
      value: {
        html: "None"
      }
    },
    {
      key: {
        text: "World locations"
      },
      value: {
        html: "None"
      }
    }
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-m">Content settings</h3>

{{ appSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "Access limiting"
      },
      value: {
        text: "None"
      },
      actions: {
        items: [
          {
            href: links.settings.access,
            text: "Change",
            visuallyHiddenText: "access details"
          }
        ]
      } if data.document.document_status != 'published'
    },
    {
      key: {
        text: "Backdate"
      },
      value: {
        text: "No date"
      },
      actions: {
        items: [
          {
            href: links.settings.back_date,
            text: "Change",
            visuallyHiddenText: "backdate"
          }
        ]
      } if data.document.document_status != 'published'
    },
    {
      key: {
        text: "Gets history mode"
      },
      value: {
        text: "Yes" if data.document.political else "No"
      },
      actions: {
        items: [
          {
            href: links.settings.political,
            text: "Change",
            visuallyHiddenText: "political content status"
          }
        ]
      } if data.document.document_status != 'published'
    }
  ]
}) }}
