<div class="app-side__actions">

  {%- if document.document_status == 'draft' -%}

    <form class="app-side__form" action="{{ actions.review }}" accept-charset="UTF-8" method="post">
      <button class="app-c-button govuk-button" type="submit">
        Submit for 2i review
      </button>
    </form>

    <a class="app-c-button govuk-button app-c-button--secondary" role="button" href="{{ actions.preview }}">Preview</a>

    <p class="govuk-body govuk-!-margin-bottom-3">
      <a class="govuk-link" href="{{ actions.publish }}">Publish</a>
      <a class="govuk-link app-link--right" href="{{ actions.schedule }}">Schedule</a>
    </p>

    <a class="govuk-link app-link--destructive" href="{{ actions.delete_draft }}">Delete draft</a>

  {%- elif document.document_status == 'submitted_for_review' -%}

    <a class="app-c-button govuk-button" role="button" data-gtm="publish" href="{{ actions.publish }}">Publish</a>

    <a class="app-c-button govuk-button app-c-button--secondary" role="button" href="{{ actions.preview }}">Preview</a>

    <a class="govuk-link app-link--destructive" href="{{ actions.delete_draft }}">Delete draft</a>
    <a class="govuk-link govuk-link--no-visited-state app-link--right" href="{{ actions.schedule }}">Schedule</a>

  {%- elif document.document_status == 'scheduled' -%}

    <a class="app-c-button govuk-button" role="button" href="{{ actions.preview }}">Preview</a>

  {%- elif document.document_status == 'published' -%}

    {%- if document.withdrawn_notice | length %}

      <a class="app-c-button govuk-button" role="button" href="{{ actions.undo_withdraw }}">Undo withdrawal</a>

    {% else %}

      <form class="app-side__form" action="{{ actions.new_edition }}" accept-charset="UTF-8" method="post">
        <button class="app-c-button govuk-button" type="submit">Create new edition</button>
      </form>

      <a class="govuk-link govuk-link--no-visited-state" href="{{ actions.withdraw }}">Withdraw</a>
      <a class="govuk-link app-link--destructive app-link--right" href="{{ actions.remove }}">Remove</a>

    {% endif -%}

  {%- elif document.document_status == 'published_but_needs_2i' -%}

    <form class="app-side__form" action="{{ actions.approve }}" accept-charset="UTF-8" method="post">
      <button class="app-c-button govuk-button" type="submit">Approve</button>
    </form>

    <form class="app-side__form" action="{{ actions.new_edition }}" accept-charset="UTF-8" method="post">
      <button class="app-c-button govuk-button app-c-button--secondary" type="submit">Create new edition</button>
    </form>

    <a class="govuk-link govuk-link--no-visited-state" href="{{ actions.withdraw }}">Withdraw</a>
    <a class="govuk-link app-link--destructive app-link--right" href="{{ actions.remove }}">Remove</a>

  {%- elif document.document_status == 'withdrawn' -%}

    <a class="app-c-button govuk-button" role="button" href="{{ actions.undo_withdraw }}">Undo withdrawal</a>

  {%- elif document.document_status == 'removed' -%}

  <!-- TODO:  -->

  {%- elif document.document_status == 'failed_to_publish' -%}

  <!-- TODO:  -->

  {%- endif -%}

  {%- if document.document_status not in ['draft','submitted_for_review','scheduled'] %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <ul class="govuk-list govuk-!-margin-0">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="{{ document.base_path | absoluteUrl }}" target="_blank">View on GOV.UK</a>
      </li>
      <li>
        <a target="_blank" class="govuk-link govuk-link--no-visited-state" href="{{ document.base_path | absoluteUrl('https://content-data.publishing.service.gov.uk/metrics')}}" target="_blank">View data about this page</a>
      </li>
    </ul>

  {% endif -%}

</div>
