{%- if document.withdrawn_notice | length %}

  {{ appMetadata({
    items: [{
        title: {
          text: 'Status'
        },
        description: {
          text: "Withdrawn"
        }
      }, {
        title: {
          text: 'Withdrawn on'
        },
        description: {
          text: document.withdrawn_notice.withdrawn_at | govTime + ' on ' + document.withdrawn_notice.withdrawn_at | govDate
        }
      }, {
        title: {
          text: 'Withdrawn by'
        },
        description: {
          text: 'Simon Whatley'
        }
      }]
  }) }}

{% else %}

  {{ appMetadata({
    items: [{
        title: {
          text: 'Status'
        },
        description: {
          text: document.document_status | documentStatus if document.document_status else "Unknown"
        }
      }, {
        title: {
          text: 'Last updated on'
        },
        description: {
          text: document.updated_at | govTime + ' on ' + document.updated_at | govDate
        }
      }, {
        title: {
          text: 'Last updated by'
        },
        description: {
          text: document.last_updated_by if document.last_updated_by | length else (data.document.updated_by if document.updated_by | length else "Unknown")
        }
      }, {
        title: {
          text: 'Created on'
        },
        description: {
          text: (data.document.first_published_at | govTime + ' on ' + document.first_published_at | govDate) if document.first_published_at else (data.document.created_at | govTime + ' on ' + document.created_at | govDate)
        }
      }, {
        title: {
          text: 'Created by'
        },
        description: {
          text: document.created_by if document.created_by | length else "Unknown"
        }
      }]
  }) }}

{% endif -%}
