<h3 class="govuk-heading-m">Content settings</h3>

{{ appSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "Access limiting"
      },
      value: {
        text: "None"
      },
      actions: {
        items: [
          {
            href: links.settings.access,
            text: "Change",
            visuallyHiddenText: "access details"
          }
        ]
      } if data.document.document_status != 'published'
    },
    {
      key: {
        text: "Backdate"
      },
      value: {
        text: "No date"
      },
      actions: {
        items: [
          {
            href: links.settings.back_date,
            text: "Change",
            visuallyHiddenText: "backdate"
          }
        ]
      } if data.document.document_status != 'published'
    },
    {
      key: {
        text: "Gets history mode"
      },
      value: {
        text: "Yes" if data.document.political else "No"
      },
      actions: {
        items: [
          {
            href: links.settings.political,
            text: "Change",
            visuallyHiddenText: "political content status"
          }
        ]
      } if data.document.document_status != 'published'
    }
  ]
}) }}
