{% call appSummaryList({
  classes: 'govuk-summary-list--no-border',
  heading: {
    text: "Public change notification"
  },
  actions: [
    {
      href: actions.change_note,
      text: "Change",
      visuallyHiddenText: "notes",
      classes: "app-c-summary-list__edit-section-link"
    }
  ] if document.document_status != 'published'
}) %}

  {%- if not document.edition.change_note_option | length %}
    <p class="govuk-body">No choice made on updating users.</p>
  {% else %}
    {%- if document.edition.change_note_option == 'yes' %}
      <p class="govuk-body">{{ document.edition.change_note }}</p>
    {% else %}
      <p class="govuk-body">Users will not be updated – minor edit.</p>
    {% endif -%}
  {% endif -%}

{% endcall -%}
