{% call appSummaryList({
  heading: {
    text: "Attachments"
  },
  actions: [
    {
      href: actions.attachments,
      text: "Change",
      visuallyHiddenText: "attachments",
      classes: "app-c-summary-list__edit-section-link"
    }
  ] if data.document.document_status != 'published'
}) %}

<!-- ,
{
  href: actions.reorder,
  text: "Reorder",
  visuallyHiddenText: "attachments",
  classes: "app-c-summary-list__edit-section-link"
} -->


  {%- if attachments | length %}

    <dl class="govuk-summary-list govuk-summary-list--no-border app-c-summary-list--number">
      {%- for attachment in attachments %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ loop.index }}
        </dt>
        <dd class="govuk-summary-list__value govuk-!-font-weight-bold">
          {{ attachment.title }}
          {% if attachment.type == 'external' %}<p class="govuk-body-s">{{ attachment.url }}</p>{% endif -%}
          {% if attachment.type == 'file' %}
            <p class="govuk-body-s">
              {%- if attachment.mimetype %}
                {{ attachment.mimetype | parseContentType if attachment.mimetype == 'application/pdf' else attachment.mimetype | parseContentType('title') }}
                {% if attachment.mimetype == 'application/pdf' %}, 2.56MB, 48 pages{% endif -%}
              {% endif -%}
            </p>
          {% endif -%}
          {% if attachment.type == 'html' %}<p class="govuk-body-s">{{ attachment.type | attachmentType }}</p>{% endif -%}
        </dd>
        <!-- {#%- if data.change == 'true' %}
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/documents/{{ attachment.document_id }}/attachments/{{ attachment.content_id }}/update">
            Change<span class="govuk-visually-hidden"> {{ attachment.title }}</span>
          </a>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link app-link--destructive" href="/documents/{{ attachment.document_id }}/attachments/{{ attachment.content_id }}/delete">
            Delete<span class="govuk-visually-hidden"> {{ attachment.title }}</span>
          </a>
        </dd>
        {% endif -%#} -->
      </div>
      {% endfor -%}
    </dl>

  {% else %}

    <p class="govuk-body">No attachments added to this document.</p>

  {% endif -%}

{% endcall %}
