<span id="{{ params.id | default('input-length-suggester') }}" class="govuk-hint app-c-input-length-suggester app-c-input-length-suggester__hidden {{- ' ' + params.classes if params.classes }}" data-module="input-length-suggester" data-for="{{ params.data.for }}" data-show-from="{{ params.data.showFrom | default(10) }}" data-message="{{ params.data.message | default('This field should be less than 50 characters. Current characters: {count}') }}" aria-live="{{params.aria.live | default('polite') }}" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>&nbsp;</span>
