
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block pageScripts %}
{%- if attachment.type == 'external' %}
  {% include "./partials/_scripts-validate-external-link.html" %}
{%- elif attachment.type == 'file' %}
  {% include "./partials/_scripts-validate-file-attachment.html" %}
{%- elif attachment.type == 'html' %}
  {% include "./partials/_scripts-markdown-editor.html" %}
  {% include "./partials/_scripts-contextual-guidance.html" %}
  {% include "./partials/_scripts-toolbar-dropdown.html" %}
  {% include "./partials/_scripts-modal-dialogue.html" %}
  {% include "./partials/_scripts-validate-html-attachment.html" %}
{% endif -%}
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "./partials/_error-summary-message.html" %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            {{ 'Change link' if attachment.type == 'external' else ('Change file' if attachment.type == 'file' else 'Edit attachment') }} ‘{{ attachment.title if attachment.title | length else "Untitled attachment" }}’
          </h1>

        </div>
      </div>

      <form action="{{ actions.save }}" accept-charset="UTF-8" method="post" novalidate>
        <input type="hidden" name="document[attachment][type]" value="file">

        {%- if attachment.type == 'external' %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              {% include "./partials/_form-external-link.html" %}
            </div>
          </div>
        {% endif -%}

        {%- if attachment.type == 'file' %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              {% include "./partials/_form-file-attachment.html" %}
            </div>
          </div>
        {% endif -%}

        {%- if attachment.type == 'html' %}
          {% include "./partials/_form-html-attachment.html" %}
        {% endif -%}

        {{ govukButton({
          text: "Save"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.back }}">Cancel</a>
      </p>

    </div>
  </div>

  {% include "./partials/_modal-attachments.html" %}

{% endblock %}
