
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block pageScripts %}
<!-- {#%- if attachment.type == 'html' %}
<script src="/public/javascripts/components/markdown-editor.umd.js"></script>
<script src="/public/javascripts/components/paste-html-to-markdown.js"></script>
<script src="/public/javascripts/components/markdown-editor.js"></script>
<script type="text/javascript">
  var $element = $('#markdown-editor');
  var markdownEditor = new GOVUK.Modules.MarkdownEditor();
  markdownEditor.start($element);
</script>

<script src="/public/javascripts/components/contextual-guidance.js"></script>
<script type="text/javascript">
  var $element1 = $('#contextual-guidance-01');
  var contextualGuidance = new GOVUK.Modules.ContextualGuidance();
  contextualGuidance.start($element1);

  var $element2 = $('#contextual-guidance-02');
  var contextualGuidance = new GOVUK.Modules.ContextualGuidance();
  contextualGuidance.start($element2);
</script>
{% endif -%#} -->
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Update {{ 'external link' if attachment.type == 'external' else 'attachment' }} ‘{{ attachment.title }}’
          </h1>

        </div>
      </div>

      <form action="{{ actions.save }}" accept-charset="UTF-8" method="post" novalidate="novalidate">
        <input type="hidden" name="document[attachment][type]" value="file">

        {%- if attachment.type == 'external' %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              {% include "./partials/_form-external-attachment.html" %}
            </div>
          </div>
        {% endif -%}

        {%- if attachment.type == 'file' %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              {% include "./partials/_form-file-attachment.html" %}
            </div>
          </div>
        {% endif -%}

        <!-- {#%- if attachment.type == 'html' %}
          {% include "./partials/_form-html-attachment.html" %}
        {% endif -%#} -->

        {{ govukButton({
          text: "Save"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.back }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
