
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block pageScripts %}

{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {%- if message.success | length %}
        {{ appSuccessAlert({
          description: {
            html: message.success
          },
          attributes: {
            "data-module": "initial-focus",
            "role": "alert",
            "tabindex": "-1"
          }
        }) }}
      {% endif -%}

      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Attachments for ‘{{ document.title if document.title | length else "Untitled document"}}’
          </h1>

          <p class="govuk-body">Publications have a summary page that must link to a file attachment or a document hosted on an external website.</p>

          {{ appButtonMenu({
            items: [
              {
                text: 'Add HTML attachment',
                classes: 'govuk-button',
                href: actions.add_html
              },
              {
                text: 'Upload file attachment',
                classes: 'govuk-button',
                href: actions.add_file
              },
              {
                text: 'Add external link',
                classes: 'govuk-button',
                href: actions.add_external
              }
            ]
          }) }}

        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Attachments</h2>

          {% if attachments | length %}

            <p class="govuk-body">Attachments will be listed on the document in this order.</p>

            {%- if attachments | length > 1 %}
              <p class="govuk-body govuk-!-margin-bottom-8">
                <a class="govuk-link" href="{{ actions.reorder }}">Reorder attachments</a>
              </p>
            {% endif -%}

            {%- for attachment in attachments %}

              {%- call appAttachmentActions({
                items: [
                  {
                    text: 'Edit ' + ('link' if attachment.type == 'external' else 'attachment'),
                    href: '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/update'
                  },
                  {
                    text: 'Edit details',
                    href: '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/update-details'
                  },
                  {
                    text: 'Download',
                    href: '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/download',
                    attributes: {
                      "download": "attachment.pdf"
                    }
                  } if attachment.type == 'file',
                  {
                    text: 'Delete ' + ('link' if attachment.type == 'external' else 'attachment'),
                    href: '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/delete',
                    classes: 'app-link--destructive'
                  }
                ]
              }) %}

                {% call appAttachment({
                  heading: {
                    text: attachment.title if attachment.title | length else "Untitled attachment"
                  },
                  href: attachment.url if attachment.type == 'external' else '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/preview',
                  target: "_blank",
                  references: {
                    isbn: attachment.isbn,
                    urn: attachment.urn,
                    cpn: attachment.cpn,
                    hcpn: attachment.hcpn,
                    parliamentary_session: attachment.parliamentary_session
                  },
                  metadata: {
                    contentType: 'text/html' if attachment.type == 'html' else ('application/pdf' if attachment.type == 'file'),
                    thumbnail: 'document' if attachment.type in ['file','html']
                  }
                }) %}

                  {%- if attachment.type == 'external' %}
                    <p class="govuk-body-s">{{ attachment.url }}</p>
                  {% endif -%}

                {% endcall %}

              {% endcall -%}

            {% endfor -%}

          {% else %}

            <p class="govuk-body">No attachments added to this document.</p>

          {% endif -%}

        </div>
      </div>

    </div>
  </div>

{% endblock %}
