
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block pageScripts %}

{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Reorder attachments for ‘{{ data.document.title }}’
          </h1>

        <!-- </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"> -->

          {%- if attachments | length %}

            <p class="govuk-body govuk-!-margin-bottom-8">Attachments will be listed on the document in this order.</p>

            {%- if attachments | length > 1 %}<div id="attachmentsList">{% endif -%}

            <form action="{{ actions.save }}" accept-charset="UTF-8" method="post">

              {%- for attachment in attachments %}

                {%- call appAttachment({
                  heading: {
                    text: loop.index + ' ' + attachment.title if attachment.title | length else "Untitled attachment"
                  },
                  href: '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/preview',
                  target: "_blank",
                  metadata: {
                    thumbnail: 'document'
                  } if attachment.type == 'file'
                }) %}

                  {%- if attachments | length > 1 %}
                    <div class="app-o-order-controls js-order-controls">
                      {%- if not loop.first %}<button class="govuk-button app-c-button--secondary-quiet js-up">Up</button>{% endif %}
                      {% if not loop.last %}<button class="govuk-button app-c-button--secondary-quiet js-down">Down</button>{% endif -%}
                    </div>
                  {% endif -%}

                {% endcall -%}

                {%- if loop.last %}
                  <hr class="govuk-section-break govuk-section-break--l">
                {% else %}
                  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
                {% endif -%}

              {% endfor -%}

              {{ govukButton({
                text: "Save attachment order"
              }) }}

            </form>

            <p class="govuk-body">
              <a class="govuk-link" href="{{ actions.back }}">Cancel</a>
            </p>

            {%- if attachments | length > 1 %}</div>{% endif -%}

          {% else %}

            <p class="govuk-body">No attachments added to this document.</p>

          {% endif -%}

        </div>
      </div>

    </div>
  </div>

{% endblock %}
