
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block pageScripts %}
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script type="text/javascript">
  if (attachmentsList) {
    Sortable.create(attachmentsList, {
      ghostClass: "app-c-summary-list__row--ghost",
      chosenClass: "app-c-summary-list__row--chosen",
      dragClass: "app-c-summary-list__row--drag"
    })

    moveDownButtons = attachmentsList.querySelectorAll('.js-down')
    moveDownButtons.forEach((button, i) => {
      button.addEventListener("click", function (e) {
        e.preventDefault()
        item = button.closest('.govuk-summary-list__row')
        nextItem = item.closest('.govuk-summary-list__row').nextElementSibling
        if (item && nextItem) {
          item.parentNode.insertBefore(item, nextItem.nextElementSibling)
        }
      })
    });

    moveUpButtons = attachmentsList.querySelectorAll('.js-up')
    moveUpButtons.forEach((button, i) => {
      button.addEventListener("click", function (e) {
        e.preventDefault()
        item = button.closest('.govuk-summary-list__row')
        previousItem = item.closest('.govuk-summary-list__row').previousElementSibling
        if (item && previousItem) {
          item.parentNode.insertBefore(item, previousItem)
        }
      })
    });
  }
</script>
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Reorder attachments for ‘{{ document.title }}’
          </h1>

          <p class="govuk-body govuk-!-margin-bottom-8">You can drag and drop to change the order of attachments or use the links to move them up or down the list, then save the changes.</p>

          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

          {%- if attachments | length %}
            <form action="{{ actions.save }}" accept-charset="UTF-8" method="post" novalidate>
              <dl {%- if attachments | length > 1 %} id="attachmentsList"{% endif -%} class="govuk-summary-list app-c-summary-list--sortable">
                {%- for attachment in attachments %}
                  <div class="govuk-summary-list__row app-c-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      {{ loop.index }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ attachment.title if attachment.title | length else "Untitled attachment" }}
                      {% if attachment.type == 'external' %}<p class="govuk-body-s">{{ attachment.url }}</p>{% endif -%}
                      {% if attachment.type == 'file' %}
                        <p class="govuk-body-s">
                          {%- if attachment.mimetype %}
                            {{ attachment.mimetype | parseContentType if attachment.mimetype == 'application/pdf' else attachment.mimetype | parseContentType('title') }}
                            {% if attachment.mimetype == 'application/pdf' %}, 2.56MB, 48 pages{% endif -%}
                          {% endif -%}
                        </p>
                      {% endif -%}
                      {% if attachment.type == 'html' %}<p class="govuk-body-s">{{ attachment.type | attachmentType }}</p>{% endif -%}
                    </dd>
                    <div class="govuk-summary-list__actions app-o-order-controls js-order-controls">
                      <input name="attachments_order[]" type="hidden" value="{{ attachment.content_id }}.json">
                      <button class="govuk-button app-c-button--secondary-quiet js-up">Up</button>
                      <button class="govuk-button app-c-button--secondary-quiet js-down">Down</button>
                    </div>
                  </div>
                {% endfor -%}
              </dl>

              {{ govukButton({
                text: "Save attachment order"
              }) }}

            </form>

            <p class="govuk-body">
              <a class="govuk-link" href="{{ actions.back }}">Cancel</a>
            </p>

          {% else %}

            <p class="govuk-body">No attachments added to this document.</p>

          {% endif -%}

        </div>
      </div>

    </div>
  </div>

{% endblock %}
