
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block pageScripts %}

{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Update {{ 'external link' if attachment.type == 'external' else 'Attachment' }} details for ‘{{ attachment.title if attachment.title | length else (document.attachment.title if document.attachment.title | length else "Untitled attachment") }}’
          </h1>

          <p class="govuk-body">Include these details if the document contains them to help users find and identify the publication.</p>

          <form action="{{ actions.save }}" accept-charset="UTF-8" method="post">

            {% include "./partials/_form-attachment-metadata.html" %}

            {{ govukButton({
              text: "Save"
            }) }}

          </form>

          <p class="govuk-body">
            <a class="govuk-link" href="{{ actions.back }}">Cancel</a>
          </p>

        </div>
      </div>

    </div>
  </div>

{% endblock %}
