/* ==========================================================================
   #ATTACHMENT ACTIONS (formerly known as 'attachment meta')
   Based on https://github.com/alphagov/content-publisher/blob/master/app/assets/stylesheets/components/_attachment-meta.scss
   ========================================================================== */

.app-c-attachment-meta {
  @include govuk-font(19);

  margin-bottom: govuk-spacing(6);
  padding-bottom: govuk-spacing(6);
  border-bottom: 1px solid $govuk-border-colour;
  position: relative;

  .app-c-metadata {
    margin-bottom: govuk-spacing(3);
  }
}

.app-c-attachment-meta:last-child {
  border-bottom: 0;
}

.app-c-attachment-meta {
  // cursor: grab;
}

.app-c-attachment-meta--chosen {
  background-color: govuk-colour("light-grey");
  outline: 2px dotted $govuk-border-colour;
  border-color: transparent;
}

.app-c-attachment-meta--drag {
  background-color: govuk-colour("white");
  border-color: transparent;
  padding: govuk-spacing(2);
}

.app-c-attachment-meta__actions {
  margin: 0;
  padding: 0;
  clear: both;

  li {
    display: inline-block;
    margin-right: govuk-spacing(3);
    margin-bottom: govuk-spacing(1);
  }

  .govuk-link {
    margin-bottom: 0;
  }
}
