
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/components/markdown-editor.umd.js"></script>
<script src="/public/javascripts/components/paste-html-to-markdown.js"></script>
<script src="/public/javascripts/components/markdown-editor.js"></script>
<script type="text/javascript">
  var $element = $('#markdown-editor');
  var markdownEditor = new GOVUK.Modules.MarkdownEditor();
  markdownEditor.start($element);
</script>

<script src="/public/javascripts/components/contextual-guidance.js"></script>
<script type="text/javascript">
  var $element1 = $('#contextual-guidance-01');
  var contextualGuidance = new GOVUK.Modules.ContextualGuidance();
  contextualGuidance.start($element1);

  var $element2 = $('#contextual-guidance-02');
  var contextualGuidance = new GOVUK.Modules.ContextualGuidance();
  contextualGuidance.start($element2);

  var $element3 = $('#contextual-guidance-03');
  var contextualGuidance = new GOVUK.Modules.ContextualGuidance();
  contextualGuidance.start($element3);
</script>
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: links.previous
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        New {{ data.document_type | documentType | lower }}
      </h1>

      <form action="{{ links.next }}" method="post">

        {%- call appContextualGuidance({
          id: 'contextual-guidance-01',
          for: 'title',
          heading: {
            text: 'Writing a title'
          },
          description: {
            text: 'The title must make clear what the content offers users. Use the words your users do to help them find this. Avoid wordplay or teases.'
          }
        }) %}

          {{ govukTextarea({
            id: "title",
            name: "document[title]",
            label: {
              text: "Title",
              classes: "govuk-!-font-weight-bold"
            },
            rows: 2
          }) }}

        {% endcall -%}

        {{ appUrlPreview({

        }) }}

        {%- call appContextualGuidance({
          id: 'contextual-guidance-02',
          for: 'summary',
          heading: {
            text: 'Writing a summary'
          },
          description: {
            text: 'The summary explains the main point of the content and it should end with a full stop. Keep it short, possibly under 160 characters, and avoid repeating the first line of the body.'
          }
        }) %}

          {{ govukTextarea({
            id: "summary",
            name: "document[description]",
            label: {
              text: "Summary",
              classes: "govuk-!-font-weight-bold"
            }
          }) }}

        {% endcall -%}

        {% set bodyGuidanceHtml %}
          {% include "./partials/_guidance-body-text.html" %}
        {% endset %}

        {%- call appContextualGuidance({
          id: 'contextual-guidance-03',
          for: 'body',
          heading: {
            text: 'Writing content'
          },
          description: {
            html: bodyGuidanceHtml
          }
        }) %}

          {{ appMarkdownEditor({
            attributes: {
              id: "markdown-editor"
            },
            label: {
              text: "Body",
              classes: "govuk-!-font-weight-bold"
            },
            textarea: {
              id: "body",
              name: "document[details][body]",
              rows: 20,
              attributes: {
                spellcheck: false
              }
            }
          }) }}

        {% endcall -%}

        {{ govukButton({
          text: "Save"
        }) }}

      </form>

    </div>
</div>

{% endblock %}
