
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/components/markdown-editor.umd.js"></script>
<script src="/public/javascripts/components/paste-html-to-markdown.js"></script>
<script src="/public/javascripts/components/markdown-editor.js"></script>
<script type="text/javascript">
  var $markdownEditor = $('#markdown-editor');
  var markdownEditor = new GOVUK.Modules.MarkdownEditor();
  markdownEditor.start($markdownEditor);
</script>

<script src="/public/javascripts/components/contextual-guidance.js"></script>
<script type="text/javascript">
  var $guidanceTitle = $('#contextual-guidance-title');
  var contextualGuidance = new GOVUK.Modules.ContextualGuidance();
  contextualGuidance.start($guidanceTitle);

  var $guidanceSummary = $('#contextual-guidance-summary');
  var contextualGuidance = new GOVUK.Modules.ContextualGuidance();
  contextualGuidance.start($guidanceSummary);

  var $guidanceBody = $('#contextual-guidance-body');
  var contextualGuidance = new GOVUK.Modules.ContextualGuidance();
  contextualGuidance.start($guidanceBody);
</script>

<script src="/public/javascripts/components/modal-dialogue.js"></script>
<script type="text/javascript">
  var $modalAttachments = $('#modal-attachments');
  var modalDialogue = new GOVUK.Modules.ModalDialogue();
  modalDialogue.start($modalAttachments);
</script>
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: links.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Edit ‘{{ data.document.title }}’
          </h1>

        </div>
      </div>

      <form action="{{ links.save }}" accept-charset="UTF-8" method="post">

        {%- call appContextualGuidance({
          id: 'contextual-guidance-title',
          for: 'title',
          heading: {
            text: 'Writing a title'
          },
          description: {
            text: 'The title must make clear what the content offers users. Use the words your users do to help them find this. Avoid wordplay or teases.'
          }
        }) %}

          {{ govukTextarea({
            id: "title",
            name: "document[title]",
            label: {
              text: "Title",
              classes: "govuk-!-font-weight-bold"
            },
            rows: 2,
            value: data.document.title
          }) }}

        {% endcall -%}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          {{ appUrlPreview({
            path: data.document.base_path
          }) }}
          </div>
        </div>

        {%- call appContextualGuidance({
          id: 'contextual-guidance-summary',
          for: 'summary',
          heading: {
            text: 'Writing a summary'
          },
          description: {
            text: 'The summary explains the main point of the content and it should end with a full stop. Keep it short, possibly under 160 characters, and avoid repeating the first line of the body.'
          }
        }) %}

          {{ govukTextarea({
            id: "summary",
            name: "document[description]",
            label: {
              text: "Summary",
              classes: "govuk-!-font-weight-bold"
            },
            value: data.document.description
          }) }}

        {% endcall -%}

        {% set bodyGuidanceHtml %}
          {% include "./partials/_guidance-body-text.html" %}
        {% endset %}

        {%- call appContextualGuidance({
          id: 'contextual-guidance-body',
          for: 'body',
          heading: {
            text: 'Writing content'
          },
          description: {
            html: bodyGuidanceHtml
          }
        }) %}

          {{ appMarkdownEditor({
            attributes: {
              id: "markdown-editor"
            },
            label: {
              text: "Body",
              classes: "govuk-!-font-weight-bold"
            },
            insertMenu: appToolbarDropdown({
              items: [
                {
                  element: "button",
                  text: "Attachment",
                  type: "button",
                  name: "attachment",
                  attributes: {
                    "data-toggle": "modal",
                    "data-target": "modal-attachments"
                  }
                }
              ],
              classes: "app-c-toolbar-dropdown--end",
              attributes: {
                "id": "toolbar-dropdown",
                "data-module": "toolbar-dropdown"
              }
            }),
            textarea: {
              id: "body",
              name: "document[details][body]",
              rows: 20,
              attributes: {
                spellcheck: false
              }
            },
            value: data.document.details.body | toMarkdown
          }) }}

        {% endcall -%}

        {{ govukButton({
          text: "Save"
        }) }}

      </form>

    </div>
  </div>

  {{ appModalDialogue({
    id: 'modal-attachments',
    html: '<iframe src="/documents/' + data.document.content_id + '/attachments/modal/" class="app-iframe--reset" height="600px"></iframe>'
  }) }}

{% endblock %}
