
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.previous
}) }}
{% endblock %}

{% set summaryHtml %}

{% endset %}

{% set historyHtml %}

{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ actions.next }}" accept-charset="UTF-8" method="get">

        {{ govukRadios({
          idPrefix: "document_sub_type",
          name: "document_sub_type",
          fieldset: {
            legend: {
              text: "Choose the type of " + (data.document_type | documentType | lower),
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          "items": [
            {
              "value": "written_statement",
              "text": "Written statement to Parliament",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Written statements given to Parliament by a minister, where there is significant public interest in the entire statement."
              },
              "checked": checked('document_sub_type', 'written_statement')
            } if data.document_type == "statement_to_parliament",
            {
              "value": "oral_statement",
              "text": "Oral statement to Parliament",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Oral statements made to Parliament by a minister, where there is significant public interest in the entire statement."
              },
              "checked": checked('document_sub_type', 'oral_statement')
            } if data.document_type == "statement_to_parliament",
            {
              "value": "correspondence",
              "text": "Correspondence publication",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Minister or organisation responses (for example to campaign letters), correspondence to individuals, organisations and professionals, circulars, bulletins and newsletters."
              },
              "checked": checked('document_sub_type', 'correspondence')
            } if data.document_type == "articles_correspondence",
            {
              "value": "authored_article",
              "text": "Authored article",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Bylined articles written in the name of a minister or official, usually republished from elsewhere."
              },
              "checked": checked('document_sub_type', 'authored_article')
            } if data.document_type == "articles_correspondence",
            {
              "value": "detailed_guide",
              "text": "Detailed guide",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Guidance for specialist or professional users detailing the steps they need to take to complete a clearly defined task."
              },
              "checked": checked('document_sub_type', 'detailed_guide')
            } if data.document_type == "guidance",
            {
              "value": "non_statutory_guidance",
              "text": "Non-statutory guidance publication",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Publications like manuals, handbooks and other documents that offer advice. Use for content produced as a standalone hard-copy publication. For web-original content use ‘detailed guide’."
              },
              "checked": checked('document_sub_type', 'non_statutory_guidance')
            } if data.document_type == "guidance",
            {
              "value": "statutory_guidance",
              "text": "Statutory guidance publication",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Guidance which relevant users are legally obliged to follow."
              },
              "checked": checked('document_sub_type', 'statutory_guidance')
            } if data.document_type == "guidance",
            {
              "value": "mainstream_guide",
              "text": "Mainstream guide",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Guidance for the general public, written for people not expected to have any previous experience or specialist knowledge."
              },
              "checked": checked('document_sub_type', 'mainstream_guide')
            } if data.document_type == "guidance",
            {
              "value": "manual",
              "text": "Manual",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Long, complex guidance or legal documents for specialist users who are familiar with a topic, usually with named or numbered chapters or clauses."
              },
              "checked": checked('document_sub_type', 'manual')
            } if data.document_type == "guidance",
            {
              "value": "statistics_announcement",
              "text": "Statistics announcement",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "An announcement of national and official statistics releases to comply with the Code of Practice for Official Statistics."
              },
              "checked": checked('document_sub_type', 'statistics_announcement')
            } if data.document_type == "statistics",
            {
              "value": "official_statistics",
              "text": "Official statistics publication",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Statistics governed by the UK Statistics Authority and produced by members of the Government Statistical Service."
              },
              "checked": checked('document_sub_type', 'official_statistics')
            } if data.document_type == "statistics",
            {
              "value": "national_statistics",
              "text": "National statistics publication",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Official Statistics that have been produced in accordance with the Code of Practice for Official Statistics, which is indicated using the National Statistics quality mark."
              },
              "checked": checked('document_sub_type', 'national_statistics')
            } if data.document_type == "statistics",
            {
              "value": "statistical_dataset",
              "text": "Statistical dataset",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Data you publish monthly or more often without analysis (ie raw data)."
              },
              "checked": checked('document_sub_type', 'statistical_dataset')
            } if data.document_type == "statistics"
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
