
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block pageScripts %}
{%- if document.document_status == 'submitted_for_review' %}
<script src="/public/javascripts/components/copy-to-clipboard.js"></script>
<script type="text/javascript">
  var $element = $('#review-url');
  var copyToClipboard = new GOVUK.Modules.CopyToClipboard();
  copyToClipboard.start($element);
</script>
{% endif -%}
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.home
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">{{ document.document_type | documentType }}</span>
            {{ document.title if document.title else "Untitled document" }}
          </h1>
        </div>
      </div>

      {{ appSubNavigation({
        label: 'Sub navigation',
        items: [
          {
            text: 'Document summary',
            href: actions.summary,
            active: true
          },
          {
            text: 'Document history',
            href: actions.history
          }
        ]
      }) }}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {%- if document.document_status == 'submitted_for_review'%}
            {% include "./partials/_banner-review.html" %}
          {% endif -%}

          {%- if document.edition and (not document.edition.change_note_option | length) %}
            {% include "./partials/_banner-change-note.html" %}
          {% endif -%}

          {% if document.political == true and document.government.current == false %} <!-- document.document_status == 'published' and  -->
            {% include "./partials/_banner-political.html" %}
          {% endif %}

          {% if document.withdrawn_notice | length %}
            {% include "./partials/_banner-withdrawn.html" %}
          {% endif %}

          {#%- if document.details.national_applicability | length
            and (document.details.national_applicability.england.applicable == false
            or document.details.national_applicability.northern_ireland.applicable == false
            or document.details.national_applicability.scotland.applicable == false
            or document.details.national_applicability.wales.applicable == false) %}
            {% include "./partials/_banner-excluded-nations.html" %}
          {% endif -%#}

          {% include "./partials/_banner-required-fields.html" %}

          {% include "./partials/_summary-content.html" %}

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          {%- if document.edition %}
            {% include "./partials/_summary-change-note.html" %}
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          {% endif -%}

          {% include "./partials/_summary-attachments.html" %}

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          {% include "./partials/_summary-images.html" %}

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          {% include "./partials/_summary-topics.html" %}

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          {% include "./partials/_summary-tags.html" %}

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          {% include "./partials/_summary-content-settings.html" %}

        </div>
        <div class="govuk-grid-column-one-third">

          <aside class="app-side__wrapper">

            {% if document.document_status == 'scheduled' %}
              {% include "./partials/_side-notice-scheduled.html" %}
            {% endif %}

            <div class="app-side">
              {% include "./partials/_side-actions.html" %}
            </div>

            <div class="app-side">
              {% include "./partials/_side-metadata.html" %}
            </div>

          </aside>

        </div>
      </div>

    </div>
  </div>

{% endblock %}
