
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.previous
}) }}
{% endblock %}

{% set summaryHtml %}

{% endset %}

{% set historyHtml %}

{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ actions.next }}" accept-charset="UTF-8" method="get">

        {{ govukRadios({
          idPrefix: "document_super_type",
          name: "document_super_type",
          fieldset: {
            legend: {
              text: "What is the content for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          "items": [
            {
              "value": "news_communications",
              "text": "News and communications",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "To tell users about something government has done or will do. For example, news stories, press releases, speeches, or statements."
              },
              "checked": checked('document_super_type', 'news_communications')
            },
            {
              "value": "guidance_regulation",
              "text": "Guidance and regulation",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "To help the user do something or understand what they need to do. For example, manuals, or statutory guidance."
              },
              "checked": checked('document_super_type', 'guidance_regulation')
            },
            {
              "value": "transparency_statistics",
              "text": "Transparency, statistics and reports",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "To provide information that helps users hold government to account. For example, statistics, FOI data, or reports."
              },
              "checked": checked('document_super_type', 'transparency_statistics')
            },
            {
              "value": "policy_consultation",
              "text": "Policy or consultation",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "To explain the government’s position or request views or evidence on an issue. For example, policy papers or impact assessments."
              },
              "checked": checked('document_super_type', 'policy_consultation')
            },
            {
              "value": "specialist_notices",
              "text": "Specialist notices",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "To give notice of permit and licence applications, fatalities and formal decisions by tribunals, regulators or adjudicators."
              },
              "checked": checked('document_super_type', 'specialist_notices')
            },
            {
              "value": "not_sure",
              "text": "I’m not sure if this should be on GOV.UK",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "View this guide to see what should go on GOV.UK and where else you can publish content."
              },
              "checked": checked('document_super_type', 'not_sure')
            }
          ]
        }) }}

        <!--
        {
          "value": "corporate_information",
          "text": "Corporate information",
          "label": {
            "classes": "govuk-label--s"
          },
          "hint": {
            "text": "Information about your organisation"
          },
          "checked": checked('document_super_type', 'corporate_information')
        },
        -->

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
