
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: links.previous
}) }}
{% endblock %}

{% set summaryHtml %}

{% endset %}

{% set historyHtml %}

{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="" action="{{ links.next }}" method="get">

        {{ govukRadios({
          idPrefix: "document_type",
          name: "document_type",
          fieldset: {
            legend: {
              text: "Choose the type of " + (data.document_super_type | documentType | lower),
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          "items": [
            {
              "value": "news_story",
              "text": "News story",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "News written for GOV.UK which users need, can act on, and cannot get from other sources."
              },
              "checked": checked('document_type', 'news_story')
            } if data.document_super_type == "news_communications",
            {
              "value": "press_release",
              "text": "Press release",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Unedited press releases as sent to the media, and official statements from the organisation."
              },
              "checked": checked('document_type', 'press_release')
            } if data.document_super_type == "news_communications",
            {
              "value": "speech",
              "text": "Speech",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "A significant speech by a minister or official."
              },
              "checked": checked('document_type', 'speech')
            } if data.document_super_type == "news_communications",
            {
              "value": "statement_to_parliament",
              "text": "Statement to Parliament",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "A written or oral statement made to Parliament."
              },
              "checked": checked('document_type', 'statement_to_parliament')
            } if data.document_super_type == "news_communications",
            {
              "value": "articles_correspondence",
              "text": "Articles and correspondence",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Articles written by a minister or official, responses from the organisation or a minister, and circulars or newsletters."
              },
              "checked": checked('document_type', 'articles_correspondence')
            } if data.document_super_type == "news_communications",
            {
              "value": "case_study",
              "text": "Case study",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Real examples that help users understand a process or an important aspect of government policy."
              },
              "checked": checked('document_type', 'case_study')
            } if data.document_super_type == "news_communications",
            {
              "value": "decision",
              "text": "Decision",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Formal decisions by tribunals, regulators or adjudicators (including courts and Secretaries of State)."
              },
              "checked": checked('document_type', 'decision')
            } if data.document_super_type == "specialist_notices",
            {
              "value": "fatality_notice",
              "text": "Fatality notice",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Initial fatality notices and subsequent obituaries of forces and Ministry of Defence personnel."
              },
              "checked": checked('document_type', 'fatality_notice')
            } if data.document_super_type == "specialist_notices",
            {
              "value": "notice",
              "text": "Notice",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Permit and licence applications published temporarily for public awareness."
              },
              "checked": checked('document_type', 'notice')
            } if data.document_super_type == "specialist_notices",
            {
              "value": "specialist_notice",
              "text": "Specialist notice",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Notices published in Specialist Publisher."
              },
              "checked": checked('document_type', 'specialist_notice')
            } if data.document_super_type == "specialist_notices",
            {
              "value": "guidance",
              "text": "Guidance",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Guidance to help the user do something or understand what they need to do."
              },
              "checked": checked('document_type', 'guidance')
            } if data.document_super_type == "guidance_regulation",
            {
              "value": "regulation",
              "text": "Regulation",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Regulations imposed by an independent regulatory authority."
              },
              "checked": checked('document_type', 'regulation')
            } if data.document_super_type == "guidance_regulation",
            {
              "value": "form",
              "text": "Form",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Form documents that need to be completed by users."
              },
              "checked": checked('document_type', 'form')
            } if data.document_super_type == "guidance_regulation",
            {
              "value": "map",
              "text": "Map",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Drawn maps and geographical data."
              },
              "checked": checked('document_type', 'map')
            } if data.document_super_type == "guidance_regulation",
            {
              "value": "statistics",
              "text": "Statistics",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Official and national statistics, announcements and raw datasets."
              },
              "checked": checked('document_type', 'statistics')
            } if data.document_super_type == "transparency_statistics",
            {
              "value": "independent_report",
              "text": "Independent report",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Reports commissioned by government but written by non-government organisations, including independent enquiries, investigations and reviews."
              },
              "checked": checked('document_type', 'independent_report')
            } if data.document_super_type == "transparency_statistics",
            {
              "value": "foi_release",
              "text": "FOI release",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Responses to Freedom of Information (FOI) requests."
              },
              "checked": checked('document_type', 'foi_release')
            } if data.document_super_type == "transparency_statistics",
            {
              "value": "corporate_report",
              "text": "Corporate report",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Publications about the organisation as public entity, for example, annual reports, business plans and accounts."
              },
              "checked": checked('document_type', 'corporate_report')
            } if data.document_super_type == "transparency_statistics",
            {
              "value": "transparency",
              "text": "Transparency",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Information about how an organisation operates, for example departmental spending, salaries and staff survey results."
              },
              "checked": checked('document_type', 'transparency')
            } if data.document_super_type == "transparency_statistics",
            {
              "value": "research_analysis",
              "text": "Research and analysis",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Research reports, surveys, analyses and evaluations."
              },
              "checked": checked('document_type', 'research_analysis')
            } if data.document_super_type == "transparency_statistics",
            {
              "value": "international_treaty",
              "text": "International treaty",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Treaties and memorandums of understanding between the UK and other nations."
              },
              "checked": checked('document_type', 'international_treaty')
            } if data.document_super_type == "transparency_statistics",
            {
              "value": "policy_paper",
              "text": "Policy paper",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "An explanation of the government's position on something. It doesn’t include instructions on how to carry out a task, only the policy itself and how it’ll be implemented."
              },
              "checked": checked('document_type', 'policy_paper')
            } if data.document_super_type == "policy_consultation",
            {
              "value": "impact_assessment",
              "text": "Impact assessment",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Cost-benefit analyses and other assessments of the impact of proposed initiatives, or changes to regulations or legislation."
              },
              "checked": checked('document_type', 'impact_assessment')
            } if data.document_super_type == "policy_consultation",
            {
              "value": "consultation",
              "text": "Consultation",
              "label": {
                "classes": "govuk-label--s"
              },
              "hint": {
                "text": "Consultations (officially ‘documents requiring collective agreement across government’), calls for evidence and requests for people's views on a question."
              },
              "checked": checked('document_type', 'consultation')
            } if data.document_super_type == "policy_consultation"
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
