
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher prototype
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/components/contextual-guidance.js"></script>
<script type="text/javascript">
  var $element1 = $('#contextual-guidance-01');
  var contextualGuidance = new GOVUK.Modules.ContextualGuidance();
  contextualGuidance.start($element1);
</script>
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Withdraw ‘{{ document.title }}’
          </h1>

        </div>
      </div>

      {%- if data.user.role in ['admin','manager'] %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body">Withdrawn content stays online but a banner tells users it is no longer current government information.</p>

            <p class="govuk-body">Read the <a class="govuk-link" href="#">full guidance on withdrawing or removing content</a>.</p>

          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <form action="{{ actions.save }}" accept-charset="UTF-8" method="post" novalidate>

              {%- call appContextualGuidance({
                id: 'contextual-guidance-01',
                for: 'withdrawal_public_explanation',
                heading: {
                  text: 'Writing a public explanation'
                },
                description: {
                  html: 'Explain to users why the page has been withdrawn. You can link to alternative content with markdown.<pre class="app-c-markdown-guidance__code-snippet">[linktext](https://www.gov.uk/example)</pre>'
                }
              }) %}

                {{ govukTextarea({
                  id: "withdrawal_public_explanation",
                  name: "document[withdrawn_notice][explanation]",
                  label: {
                    text: "Public explanation",
                    classes: 'govuk-label--s'
                  },
                  rows: 10
                }) }}

              {% endcall -%}

              {{ govukButton({
                text: "Withdraw document"
              }) }}

              <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="{{ actions.back }}">Cancel</a>
              </p>

            </form>

          </div>
        </div>

      {% else %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body">Only a managing editor can remove or withdraw a live page. You do not have permission to do this.</p>

            <p class="govuk-body">If you think this content is not relevant anymore or that it shouldn’t be on GOV.UK you need to ask the managing editor for your organisation.</p>

            <p class="govuk-body">Read the <a class="govuk-link" href="https://www.gov.uk/guidance/content-design/gov-uk-content-retention-and-withdrawal-archiving-policy" target="_blank">guidance on withdrawing or removing content</a> (link opens in a new window).</p>

          </div>
        </div>

      {% endif -%}

    </div>
</div>

{% endblock %}
