
{% extends "layout-modal.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {%- if message.success | length %}
        {{ appSuccessAlert({
          description: {
            html: message.success
          },
          attributes: {
            "data-module": "initial-focus",
            "role": "alert",
            "tabindex": "-1"
          }
        }) }}
      {% endif -%}

      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Attachments {{ 'for ‘' + data.document.title + '’' if data.document.title | length }}
          </h1>

          <p class="govuk-body">Publications have a summary page that must link to a file attachment or a document hosted on an external website.</p>

          {{ appButtonMenu({
            items: [
              {
                text: 'Upload file attachment',
                classes: 'govuk-button',
                href: actions.add_file
              },
              {
                text: 'Add external link',
                classes: 'govuk-button',
                href: actions.add_external
              }
            ]
          }) }}

          <!-- {
            text: 'Add HTML attachment',
            classes: 'govuk-button',
            href: '/documents/' + data.document.content_id + '/attachments/create?type=html'
          }, -->

        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Attachments</h2>

          {% if attachments | length %}

            <p class="govuk-body govuk-!-margin-bottom-8">Attachments will be listed on the document in this order.</p>

            {%- for attachment in attachments %}

              {%- call appAttachmentActions({
                items: [
                  {
                    text: 'Insert link' + (' to file' if attachment.type == 'file' else (' to attachment'  if attachment.type == 'html')),
                    href: '#'
                  },
                  {
                    text: 'Edit' + (' link' if attachment.type == 'external' else (' file' if attachment.type == 'file' else ' attachment')),
                    href: '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/modal/update'
                  },
                  {
                    text: 'Edit details',
                    href: '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/modal/metadata'
                  } if attachment.type != 'external',
                  {
                    text: 'Download',
                    href: '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/modal/download',
                    attributes: {
                      "download": "attachment.pdf"
                    }
                  } if attachment.type == 'file',
                  {
                    text: 'Delete' + (' link' if attachment.type == 'external' else (' file' if attachment.type == 'file' else ' attachment')),
                    href: '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/modal/delete',
                    classes: 'app-link--destructive'
                  }
                ] if data.actions != "hide"
              }) %}

                {%- if attachment.type == 'external' %}
                  {%- call appAttachment({
                    heading: {
                      text: attachment.title if attachment.title | length else "Untitled attachment"
                    },
                    href: attachment.url,
                    target: "_blank"
                  }) %}

                    <p class="govuk-body-s">{{ attachment.url }}</p>

                  {% endcall -%}
                {% endif -%}

                {{ appAttachment({
                  heading: {
                    text: attachment.title if attachment.title | length else "Untitled attachment"
                  },
                  href: '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/modal/preview',
                  target: "_blank",
                  metadata: {
                    filename: (attachment.title | slugify) + '.pdf',
                    fileSize: 1234560,
                    contentType: 'application/pdf',
                    pageCount: 25,
                    thumbnail: 'document'
                  }
                }) if attachment.type == 'file' }}

                {{ appAttachment({
                  heading: {
                    text: attachment.title if attachment.title | length else "Untitled attachment"
                  },
                  href: '/documents/' + attachment.document_id + '/attachments/' + attachment.content_id + '/modal/preview',
                  target: "_blank",
                  metadata: {
                    contentType: 'text/html',
                    thumbnail: 'document'
                  }
                }) if attachment.type == 'html' }}

              {% endcall -%}

            {% endfor -%}

          {% else %}

            <p class="govuk-body">No attachments added to this document.</p>

          {% endif -%}

        </div>
      </div>

    </div>
</div>

{% endblock %}
