
{% extends "layout-modal.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Attachments {{ 'for ‘' + document.title + '’' if document.title | length }}
          </h1>

          {% if attachments | length %}

            <p class="govuk-body govuk-!-margin-bottom-8">
              {% if attachments | length == 1 %}
                <!-- One attachment -->
                {% if attachment.content_id and attachment.content_id == attachments[0].content_id %}
                  <!-- Current attachment -->
                  You’re editing ‘{{ attachment.title }}’. There are no other attachments added to this document. You can only insert an attachment that has already been added.
                {% else %}
                  <!-- Not current attachment -->
                  You can add a link to this attachment in the body of the content.
                {% endif -%}
              {% else %}
                <!-- Many attcachments -->
                {%- if attachment.content_id | length %}
                  <!-- Current attachment -->
                  You’re editing ‘{{ attachment.title }}’. You can add a link to the other {{ 'attachment' if attachments | length == 2 else 'attachments' }} in the body of the content.
                {% else %}
                  <!-- Not current attachment -->
                  You can add a link to one of these attachments in the body of the content.
                {% endif -%}
              {% endif -%}
            </p>

            {%- for item in attachments %}

              {#% if item.content_id != attachment.content_id %#}

                {%- call appAttachmentActions({
                  items: [
                    {
                      text: 'Insert attachment as link',
                      href: '#'
                    }
                  ] if item.content_id != attachment.content_id
                }) %}

                  {% call appAttachment({
                    heading: {
                      text: item.title if item.title | length else "Untitled attachment"
                    },
                    href: item.url if item.type == 'external' else '/documents/' + item.document_id + '/attachments/' + item.content_id + '/preview',
                    target: "_blank",
                    references: {
                      isbn: item.isbn,
                      urn: item.urn,
                      cpn: item.cpn,
                      hcpn: item.hcpn,
                      parliamentary_session: item.parliamentary_session
                    },
                    metadata: {
                      contentType: 'text/html' if item.type == 'html' else ('application/pdf' if item.type == 'file'),
                      thumbnail: 'document' if item.type in ['file','html']
                    }
                  }) %}

                    {%- if item.type == 'external' %}
                      <p class="govuk-body-s">{{ item.url }}</p>
                    {% endif -%}

                  {% endcall %}

                {% endcall -%}

              {#% endif -%#}

            {% endfor -%}

          {% else %}

            <p class="govuk-body">No attachments have been added to this document. You can only insert an attachment that has already been added.</p>
            <p class="govuk-body">To add an attachment, save your changes and go to the attachments section.</p>

          {% endif -%}

        </div>
      </div>

    </div>
  </div>

{% endblock %}
