
{% extends "layout-modal.html" %}

{% block pageScripts %}
<script src="/public/javascripts/components/initial-focus.js"></script>
<script type="text/javascript">
  var $element = $('#success-message');
  var initialFocus = new GOVUK.Modules.InitialFocus();
  initialFocus.start($element);
</script>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {%- if message.success | length %}
        {{ appSuccessAlert({
          description: {
            html: message.success
          },
          attributes: {
            "id": "success-message",
            "data-module": "initial-focus",
            "role": "alert",
            "tabindex": "-1"
          }
        }) }}
      {% endif -%}

      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-l">
            Attachments {{ 'for ‘' + document.title + '’' if document.title | length }}
          </h1>

          {%- if document.document_schema == 'news' %}

            {%- if not attachments | length %}
              <p class="govuk-body">No attachments have been added to this document.</p>
            {% endif -%}

            {{ appButtonMenu({
              items: [
                {
                  text: 'Upload file attachment',
                  classes: 'govuk-button',
                  href: actions.add_file
                }
              ],
              classes: "govuk-!-margin-bottom-4"
            }) }}

          {% endif -%}

          {%- if attachments | length %}

            <p class="govuk-body govuk-!-margin-bottom-8">
              {% if attachments | length == 1 %}
                <!-- One attachment -->
                {% if attachment.content_id and attachment.content_id == attachments[0].content_id %}
                  <!-- Current attachment -->
                  You’re editing ‘{{ attachment.title }}’. There are no other attachments added to this document. You can only insert an attachment that has already been added.
                {% else %}
                  <!-- Not current attachment -->
                  {%- if document.document_schema == 'publication' %}
                    You can add a link to this attachment in the body of the content.
                  {% else %}
                    You can add a link to or insert this attachment in the body of the content.
                  {% endif -%}
                {% endif -%}
              {% else %}
                <!-- Many attcachments -->
                {%- if attachment.content_id | length %}
                  <!-- Current attachment -->
                  You’re editing ‘{{ attachment.title }}’. You can add a link to the other {{ 'attachment' if attachments | length == 2 else 'attachments' }} in the body of the content.
                {% else %}
                  <!-- Not current attachment -->
                  {%- if document.document_schema == 'publication' %}
                    You can add a link to one of these attachments in the body of the content.
                  {% else %}
                    You can add a link to or insert one of these attachments in the body of the content.
                  {% endif -%}
                {% endif -%}
              {% endif -%}
            </p>

            <dl class="govuk-summary-list">
            {%- for item in attachments %}

              {% if item.content_id != attachment.content_id %}

              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                  <h2 class="govuk-heading-s">
                    <a class="govuk-link govuk-link--no-visited-state" href="/documents/{{ document.content_id}}/attachments/{{ item.content_id }}/preview" title="Preview attachment" target="_blank">
                    {{ item.title if item.title | length else "Untitled attachment" }}
                    </a>
                  </h2>
                  <p class="govuk-body-s">
                    {% if item.isbn | length or item.urn | length or item.cpn | length or item.hcpn | length %}Ref:{% endif %}
                    {% if item.isbn | length %}
                      ISBN {{ item.isbn }}
                    {%- endif -%}
                    {%- if item.urn | length %}
                      {%- if item.isbn | length %},{% endif %}
                      {{ item.urn }}
                    {%- endif -%}
                    {%- if item.cpn | length %}
                      {%- if item.urn | length %},{% endif %}
                      {{ item.cpn }}
                    {%- endif -%}
                    {%- if item.hcpn | length %}
                      {%- if item.cpn | length %},{% endif %}
                      HC {{ item.hcpn }} {{ item.parliamentary_session }}
                    {% endif %}
                  </p>
                  {%- if item.type == 'external' %}
                    <p class="govuk-body-s">{{ item.url }}</p>
                  {% endif -%}
                  {%- if item.type == 'file' %}
                    <p class="govuk-body-s">PDF, 1.25MB, 25 pages</p>
                  {% endif -%}

                  {%- if document.document_schema == 'news' %}
                    {{ appAttachmentActions({
                      items: [
                        {
                          text: "Change file",
                          href: "/documents/" + document.content_id + "/attachments/" + item.content_id + "/modal/update",
                          classes: 'govuk-link--no-visited-state'
                        },
                        {
                          text: "Download",
                          href: "/documents/" + document.content_id + "/attachments/" + item.content_id + "/download",
                          classes: 'govuk-link--no-visited-state'
                        },
                        {
                          text: "Delete attachment",
                          href: "/documents/" + document.content_id + "/attachments/" + item.content_id + "/modal/delete",
                          classes: 'app-link--destructive'
                        }
                      ],
                      classes: "govuk-!-margin-top-4 govuk-!-padding-bottom-0"
                    }) }}
                  {% endif -%}

                </dd>
                <dd class="govuk-summary-list__actions app-c-summary-list__actions--modal">
                  <a class="govuk-button app-c-button app-c-button--summary-action" role="button" href="#">Insert as link</a>
                  {%- if document.document_schema == 'news' %}
                    <a class="govuk-button govuk-button--secondary app-c-button app-c-button--summary-action" role="button" href="#">Insert as attachment</a>
                  {% endif -%}
                </dd>
              </div>
              {% endif -%}

            {% endfor -%}
            </dl>

          {% else %}

            {%- if document.document_schema == 'publication' %}

              <p class="govuk-body">No attachments have been added to this document. You can only insert an attachment that has already been added.</p>
              <p class="govuk-body">To add an attachment, save your changes and go to the attachments section.</p>

            {% endif -%}

          {% endif -%}

        </div>
      </div>

    </div>
  </div>

{% endblock %}
